/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

/* Navbar */
.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Hero Section */
.hero {
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero h1 {
    font-size: 4rem;
    font-weight: 700;
}

.hero p {
    font-size: 1.5rem;
}

/* About Section */
#about {
    background-color: #1c1c1c;
}

#about h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

/* Projects Section */
#projects {
    background-color: #121212;
}

#projects h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #1c1c1c;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card-title {
    font-weight: bold;
}

.card-text {
    color: #d3d3d3;
}

/* Contact Section */
#contact {
    background-color: #1c1c1c;
}

/* Footer */
footer {
    background-color: #1c1c1c;
}
